<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embedded Board Manager</title>
    <link rel="stylesheet" href="static/style.css">
    <!--Navigation-button to navigate the url:s-->
        <link rel="icon" type="image/png" href="static/favicon-16x16.png">
        <nav class="main-nav">
            <ul id="nav-menu">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('webstore') }}">Webstore</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
                <li><a href="{{ url_for('faq') }}">F.A.Q.</a></li>
            </ul>
        </nav>
</head>

<body>
    <div class="tabs">
            <a href="{{ url_for('index') }}" class="tab-button" target="_self">Board Manager</a>
            <a href="{{ url_for('webstore') }}" class="tab-button" target="_self">Webstore</a>
            <a href="{{ url_for('about') }}" class="tab-button" target="_self">About</a>
            <a href="{{ url_for('faq') }}" class="tab-button" target="_self">F.A.Q.</a>
    </div>

    <!--Presentation video embedded from Youtube-->
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/watch?v=QBYr0k8dOtw" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <!--Portfolio of products of different licences with different price and contain-->
    <!--To be using an open API to Stripe-->
    <div class="container">
        <header>
            <h1>PrimeSciNav Webstore</h1>
            <p>Explore our range of products and licenses</p>
        </header>

        <div class="product-list">
            <!-- Licence Product Card -->
            <div class="product-card">
                <h2>Mad Scientist</h2>
                <p>The ultimate package of nasty science resources for the true mad scientist.</p>
                <p>Price per month: $499.99</p>
                <button class="buy-button">Buy Now</button>
            </div>

            <div class="product-card">
                <h2>Fearless Engineer</h2>
                <p>The undisputable tools for the true innovator.</p>
                <p>Price per month: $299.99</p>
                <button class="buy-button">Buy Now</button>
            </div>

            <div class="product-card">
                <h2>Eternal Athlete</h2>
                <p>The scientific collection of tech-resourses to get the upperhand.</p>
                <p>Price per month: $149.99</p>
                <button class="buy-button">Buy Now</button>
            </div>
        </div>
    </div>



    <script src="static/script.js"></script>
</body>